*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body * {
  position: relative;
  z-index: 1;
}


html,
body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #f6f9d4 !important;
}
